
body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    background-color: rgb(191, 15, 15);
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .inner{
        width: 80%;
        margin: 0 auto;
        nav{
            ul{
                display: flex;
            } 
            a{
                list-style-type: none;
            }
         }
    }
    
}